{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block pageName %}Profile / Changer de mot de passe{% endblock %}
{% block title %}Votre profile{% endblock %}
{% block body %}
    <div class="well primary mb-xlg">
        <h1>Modifier votre mot de passe</h1>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class=" mb-xs mt-xl mt-xs mr-xs btn btn-lg btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}