
{% trans_default_domain 'FOSUserBundle' %}
{% extends 'default.html.twig' %}

{% block title %}
    Reinitialiser votre mot de passe
{% endblock %}

{% block body %}
<section class="body-sign">
    <div class="center-sign">
        <a href="#" class="logo pull-left">
            <img src="{{ asset('assets/images/logo.png') }}" height="54" alt="Feather"/>
        </a>
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Recover Password</h2>
            </div>
            <div class="panel-body">
                {% block fos_user_content %}
                <div class="alert alert-info">
                    <p class="m-none text-semibold h4">{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
                </div>
                {% endblock fos_user_content %}
                <!--<a class="mb-xs mt-xl mt-xs mr-xs btn btn-lg btn-primary" href="{{ path('fos_user_resetting_check_email') }}">Confirmer</a>-->
            </div>
        </div>
        <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a
                    href="https://colorlib.com/">Colorlib</a>.</p>
    </div>
</section>
{% endblock %}